fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
python-multipart
cloudinary
qrcode[pil]
Pillow
requests
africastalking
slowapi
apscheduler
google-generativeai
brevo-python
bcrypt==4.0.1
itsdangerous